.AboutMe {
  background-color: rgb(255, 255, 255);
  padding-bottom: 5%;
}
.AboutMe .Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutMe .Container .Text {
  text-align: center;
  width: 65%;
}

.AboutMe .Container .Text p {
  font-size: 18px;
}
/*
.AboutMe .Container .Photo {
}*/

.AboutMe .Container .Photo .Me {
  height: 200px;
  border-radius: 50%;
  border: solid 4px white;
}

.AboutMe .Container .Text h2 {
  font-weight: 700;
  font-size: 25px;
}
