.AboutMe {
  background-color: rgb(255, 255, 255);
  padding-bottom: 5%;
}
.AboutMe .Container {
  align-items: center;
}

.AboutMe .Container .Text {
  width: 65%;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.AboutMe .Container .Text p {
  font-size: 18px;
}
/*
.AboutMe .Container .Photo {
}*/

.AboutMe .Container .Photo .Me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  border-radius: 50%;
  border: solid 4px white;
}

.AboutMe .Container .Text h2 {
  font-weight: 700;
  font-size: 25px;
}
