.Contact {
  background-color: rgb(68, 128, 163);
  height: 35vh;
  display: flex;
  align-items: center;
}

.Contact .ContactIcons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Contact .ContactIcons div {
  padding: 10px;
}

.Contact .ContactIcons svg path {
  cursor: pointer;
}
