.Projects {
  background-color: rgb(255, 255, 255);
}

.Projects .ProjectsIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects .ProjectName {
  width: 70%;
}

.Projects .Paragraph {
  font-size: 20px;
}

.Projects .ProjectContainer .ProjectTitle {
  margin-bottom: 20px;
}

.Projects .ProjectContainer .Thumbnail img {
  max-width: 250px;
}

.Projects .ProjectContainer .Text {
  padding-left: 7%;
  padding-right: 7%;
}

.Projects .ProjectContainer .Text p {
  font-size: 16px;
}

.Projects .ProjectContainer .Technologies p {
  font-size: 16px;
}

.Projects .ProjectContainer .Thumbnail {
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
  align-items: center;
}

.Projects .ProjectName .ProjectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  margin-bottom: 5%;
  height: 500px;

  border-radius: 0;
  box-shadow: 0 0 5px 5px rgb(202, 224, 233);
}
