.Home {
  background-color: #1d9ac5;

  height: 60vh;
  padding-top: 300px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home .Container {
  top: 40%;

  color: white;

  position: absolute;
}

.Home .Container .Name {
  font-size: calc(2.5rem + 2.5vw);
  color: rgb(41, 40, 40);
}

.Home .Container .SubTopic {
  font-weight: 400;
  color: rgb(82, 80, 80);
}

.Home .Container h1 {
  margin: 0;
}
