.Home {
  background-color: #1d9ac5;
  background-image: linear-gradient(
    225deg,
    #eff4f7 0%,
    #dfe9f0 50%,
    #dde0e2 100%
  );

  height: 450px;
  padding-top: 300px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Home .Container {
  top: 40%;

  color: white;
}

.Home .Container .Name {
  font-size: 63px;
  color: rgb(41, 40, 40);
}

.Home .Container .SubTopic {
  font-weight: 400;
  color: rgb(82, 80, 80);
}

.Home .Container h1 {
  margin: 0;
}
