.Container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.Container hr {
  position: absolute;

  width: 120px;
  border: 1 px solid #1d9ac5;
  top: 50%;
}

.Container h1 {
  color: rgb(124, 116, 116);
}
