.Container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.Container hr {
  position: absolute;

  width: 15vw;
  background: #1d9ac5;
  height: 2%;
  top: 55%;
  border: 1px solid #1d9ac5;
}

.Container h1 {
  color: #252e31;
}
